<!DOCTYPE html >
<html layout:decorator="shared/homelayout"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block layout:fragment="header">
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
	</th:block>
	
	<th:block layout:fragment="content">
			
		<h2>Student Info</h2> <br/>
	
		<form class="form-horizontal" action="/student" method="POST" th:object="${student}">
		      <input type="hidden" name="studentId" th:value="${student.studentId}" />
	      <div class="form-group">
		    <label class="control-label col-sm-8" for="fullName">Full name:</label>
		     <label th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"
									class="validation-message"></label>
		    <div class="col-sm-10"> 
		      <input type="text" class="form-control" id="fullName" name="fullName"  th:value="${student.fullName}">
		    </div>
		  </div>
		  <div class="row">
			  <div class="col-md-4">
			   <div class="form-group">
				    <label class="control-label col-sm-8" for="studentnumber">Student number:</label>
				     <label th:if="${#fields.hasErrors('studentNumber')}" th:errors="*{studentNumber}"
											class="validation-message"></label>
											
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="studentnumber" name="studentNumber"  th:value="${student.studentNumber}">
				    </div>
				  </div>
			  	
			  </div>
			  <div class="col-md-4">
			  	<div class="form-group">
				    <label class="control-label col-sm-8" for="phoneNumber">Phone number:</label>
				     <label th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
											class="validation-message"></label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"  th:value="${student.phoneNumber}">
				    </div>
				  </div>
			  </div>
			  <div class="col-md-4">
				   <div class="form-group">
				    <label class="control-label col-sm-1" for="emailAddress">Email address:</label>
				     <label th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"
											class="validation-message"></label>
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control" id="emailAddress" name="emailAddress"  th:value="${student.emailAddress}">
				    </div>
				  </div>
			  </div>
			  
		  </div>  
		  
		   <div class="row">			  
			   <div class="col-md-4">
			  	<div class="form-group">
				    <label class="control-label col-sm-8" for="dateOfBirth">Date of addmission:</label>
				     <label th:if="${#fields.hasErrors('dateOfAdmission')}" th:errors="*{dateOfAdmission}"
											class="validation-message"></label>
											
				    <div class="col-sm-10">
				      <input type="date" aria-describedby="dateOfAdmissionHelp" class="form-control" id="dateOfAdmission" name="dateOfAdmission"  th:value="${student.dateOfAdmission}">
				      <small id="dateOfAdmissionHelp" class="form-text text-muted">Enter a valid Date.</small>
				    </div>
				  </div>
			  </div>
			  <div class="col-md-4">
			  	<div class="form-group">
				    <label class="control-label col-sm-8" for="faculty">Faculty Advisor:</label>
				     <label th:if="${#fields.hasErrors('faculty')}" th:errors="*{faculty}"
											class="validation-message"></label>
											
				    <div class="col-sm-10">
				      <select th:field="*{faculty}">
					    <option th:each="i : ${faculties}" th:value="${i.facultyId}" th:text="${i.fullName}">
					    </option>
					</select>
				    </div>
				  </div>
			  </div>
			  <div class="col-md-4">
			  	<div class="form-group">
				    <label class="control-label col-sm-8" for="cgpa">CGPA:</label>
				     <label th:if="${#fields.hasErrors('cgpa')}" th:errors="*{cgpa}"
											class="validation-message"></label>
											
				    <div class="col-sm-10"> 
				      <input type="text" class="form-control" id="cgpa" name="cgpa"  th:value="${student.cgpa}">
				    </div>
				  </div>
			  </div>
			  
		  </div>
			  
		  <div class="form-group"> 
		    <div class="col-sm-offset-2 col-sm-10">
		      	<button type="submit" class="btn btn-outline-danger float-right">Submit</button>
	      		<a href="/students" class="btn btn-outline-warning btn-sm float-right mr-3 cancel-btn">Cancel</a>
		      	<a href="/student" class="btn btn-outline-primary btn-sm float-right mr-3 cancel-btn">Reset</a>
		    </div>
		  </div>
		</form>
		<br/>
		
	</th:block>
	
	<th:block layout:fragment="footer">
	</th:block>
	
</body>
</html>